.full-width {
  width: 100% !important;
}

.pointer {
  cursor: pointer;
}

.upper-case {
  text-transform: uppercase;
}

.mt-20 {
  margin-top: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.background-cover-no-repeat-bottom-align {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}

.align-items-justify-content-end {
  align-items: center;
  justify-content: flex-end;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.justify-content-end {
  justify-content: flex-end;
}
