@import './base/reset';
@import './base/utils';

.container {
  height: 100%;

  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;

    z-index: 1;
    height: 80px;

    ul {
      display: flex;
      list-style: none;
      justify-content: center;

      li {
        margin: 0 32px;
        padding: 16px;

        a {
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
