@import './base/variable';
@import './base/vendor';
@import './base/utils';

body {
  height: 100vh;
  overflow: hidden;

  main {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    .navbar {
      position: fixed;
      display: flex;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.1);

      z-index: 1;
      height: 80px;

      ul {
        display: flex;
        list-style: none;
        justify-content: center;

        li {
          margin: 0 32px;
          padding: 16px;

          a {
            text-decoration: none;
            color: $white-color;
          }
        }
      }
    }

    section {
      &.item {
        height: 100vh;
        scroll-snap-align: center;
      }

      .header {
        @extend .font-medium;

        font-size: 48px;
        color: $white-color;
      }

      .sub-header {
        @extend .font-light;

        font-size: 22px;
        color: $white-color;
      }

      &#home {
        @extend .background-cover-no-repeat-bottom-align;
        background-image: url(./../assets/green_bg.svg);
      }

      &#insight-platform {
        @extend .background-cover-no-repeat-bottom-align;
        background-image: url(./../assets/orange_bg.svg);
      }

      &#audience {
        @extend .background-cover-no-repeat-bottom-align;
        background-image: url(./../assets/blue_bg.svg);
      }

      &#research {
        @extend .background-cover-no-repeat-bottom-align;
        background-image: url(./../assets/red_bg.svg);
      }
    }
  }
}
